.btn {
  width: auto;
  height: 42px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;

  /*font-family: ;*/
  font-size: 16px;
  cursor: pointer;
  color: #fff;

  background-color: #516df6;
  border: none;
  border-radius: 8px;
}

.btn:hover {
  background-color: #667eea;
}

.btn:disabled {
  background-color: #4a4d5e;
  color: #fff;
  background-color: #4a4d5e;
}

/*.round*/
.round {
  border: none;
  border-radius: 1000px !important;
}

/*.button.medium*/
.medium {
  width: 275px;
  height: 42px;
}

/*.large*/
.large {
  width: 296px;
  height: 62px;
}

/*.line*/
.line {
  cursor: pointer;
  color: #516df6;
  background-color: transparent !important;
  border: 2px solid #516df6;
  border-radius: 8px;
}

.line:hover {
  color: #667eea;
  border: 2px solid #667eea;
}

.line:disabled {
  color: #fff;
  border: 2px solid #fff;
}
