.contentButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;

  /*font-family: ;*/
  font-size: 12px;

  cursor: pointer;
  color: #fff;
  background-color: #2b2f3d;

  border: 1px solid #4a4d5e;

  width: 158px;
  height: 83px;
}

.contentButton:hover {
  background-color: #667eea;
  transition: 0.8s;
}
