.cateCon {
  width: calc(315px - 40px);
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 4px;
  top: 95px;
  margin: 0;
  list-style: none;
  padding: 0 20px;
  background-color: #1e222d;
  color: var(--G1);
}
.categoryWrapper {
}
.categoryWrapper > li:hover {
  background-color: var(--G10);
  transition: 0.2s;
}

.categoryWrapper > li {
  width: 255px;
  padding: 10px 0px 10px 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 999px;
}

.clicked {
  background-color: var(--G10);
}
.bold {
  font-weight: 700;
  color: #ffffff !important;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  cursor: pointer;
}

ul li {
  list-style: none;
  padding: 10px 0px 10px 32px;
  font-size: 16px;
  color: #ffffff90;
}

.display {
  display: block !important;

  transition: 0.5s;
}

.innerCategory {
  display: none;
}
