.profile {
  display: flex;
  align-items: center;
  gap: 38px;
  color: #ffffff;
}

.profileImage {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background: #ededed;
  background-image: var(--back);
  background-size: cover;
  background-position: 50%;
}

.ProfileInfo {
  font-size: 20px;
  padding-bottom: 12px;
}

/* ///////////////////////////////page부분 /////////////////////////////////////////////*/
.profilePage {
}

.pfpageWrapper {
  background-color: #1e222d;
  color: #ffffff;
  margin-top: 136px;
  display: flex;
  justify-content: center;
}

.pfpageContainer {
  display: flex;
  flex-direction: column;
  width: 1320px;
  gap: 30px;
}

.profileList {
  width: auto;
  height: 130px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
