.TextContainer {
  width: 100%;
  position: relative;
  display: flex;
  height: auto;
}

.TextInput {
  width: 100%;
  min-height: var(--minheight);
  height: var(--height);
  font-size: var(--fontsize);
  font-weight: var(--fontweight);
  white-space: normal;
  background-color: transparent;
  resize: none;
  overflow: inherit;
  overflow-wrap: anywhere;
  border: none;
  color: #ffffff;
}

textarea::-webkit-input-placeholder {
  color: #ffffff90;
  font-weight: 500;
}

textarea:focus {
  outline: none;
}

.Comment_Container {
  width: calc(100% - 72px);
  height: auto;
  display: flex;
  margin: auto;
  margin-bottom: 24px;
  padding: 12px;
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-end;
  caret-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  border: 1px solid #ffffff60;
}
