body{
  background-color: #1E222D;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}


/* NAV */
.LNB {
  display: flex;
  flex-direction: column;
  width: 275px;
}

.mainlink {
  cursor: pointer;
  display: flex;
  padding: 12.5px 20px;
  width: 275px;
  border-radius: 9999px;

  /* Category Title css */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF; 
}
.mainlink:hover{
  background: linear-gradient(271.53deg, rgba(52, 55, 72, 0.6) 0.22%, rgba(84, 90, 106, 0.6) 100%);
}



/* COLLAPSE */

.collapse_menu {
  display: none;  
}

.collapse_sublink {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
  padding-top:10px;
  padding-bottom:10px;
  padding-left: 32px;
}

.collapse_sublink:hover {
  font-weight: 700;
}
.collapse_sublink:active {
  font-weight: 700;
}

/* Show collapse */
.showCollapse {
  display: block;
}

